name: Build

on:
  pull_request:
    paths:
      - '**/pom.xml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Get a list of changed files
        id: get_changed_files
        run: |
          # Fetch the latest changes from the main branch
          git fetch origin master

          # List changed files
          changed_files=$(git diff --name-only origin/master HEAD)
          echo "Changed files: $changed_files"

          # Save changed files to environment variable
          echo "changed_files=$(echo "$changed_files" | tr '\n' ' ')" >> $GITHUB_ENV

      - name: Filter and format changed modules
        id: filter_modules
        run: |
          # Extract directories from changed files
          directories=$(echo "${{ env.changed_files }}" | grep -oP '^[^/]*' | sort -u)
          
          # Initialize an empty list of modules
          modules=""

          # Check each directory if it contains a pom.xml file and is listed in the root pom.xml
          for dir in $directories; do
            if [ -d "$dir" ] && [ -f "$dir/pom.xml" ] && [ "$dir" != ".github" ]; then
              if grep -q "<module>$dir</module>" pom.xml; then
                modules="$modules,$dir"
              fi
            fi
          done

          # Remove leading comma
          modules=${modules#,}

          echo "Building modules: $modules"
          echo "modules=$modules" >> $GITHUB_ENV

      - name: Build Maven modules
        run: |
          if [ -n "$modules" ]; then
            mvn -pl $modules -am verify --no-transfer-progress
          else
            echo "No modules to build."
          fi
        env:
          JAVA_HOME: /opt/hostedtoolcache/Java_Temurin-Hotspot_jdk/17.0.12-7/x64
